Декомпозировать SMTP

Нужно выделить аутентификацию и шифрование из класса SMTP в отдельные классы

Extended SMTP (в соответствии с спецификацией RFC 5321, RFC 7504)
ESMTP with authentication plagin (в соответствии с спецификацией RFC 4954)
ESMTP with security plagin SSL/TLS (в соответствии с спецификацией RFC 3207, RFC 7817)